@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.empContainer{
    width: 100%;
    background-color: #f3eaa0;
    padding: 0px 20px 0 20px;
}
.empContainer td,th{
    padding: 10px 30px;
}
.empFooter{
    padding: 5px 30px;
}
.empContainer td,.empFooter{
    font-weight: 600;
    cursor: pointer;
}
.empContainer th{
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
}

.empContainer table {
    border-collapse: collapse;
    width: 100%;
}

.empContainer th, td {
    /* padding: 10px; */
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.empContainer th {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
}
.empContainer th:first-child {
    border-radius: 10px 0 0 10px; /* Rounded top-left corner */
}

.empContainer th:last-child {
    border-radius: 0 10px 10px 0; /* Rounded top-right corner */
}
.empContainer td {
    border: none; /* Remove borders for data cells */
}
.empContainer .counts{
    width: 25px;
    height: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid grey;
}
tr:hover{
    background-color: rgb(207, 227, 235);
}
.dropdown-item{
    margin-bottom: 0;
}