.accordion-item{
    width: 100%;
    border: none;
}
.button_Container{
    background-color: #212529;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    min-height: 50px;
    /* overflow: hidden; */
}
.button_Container:hover{
    color: white;
    background-color: #174b3f;
}
.button_Container:hover .icons{
    color: white;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: transparent;
    box-shadow: none;
}
.icons{
    /* width: 30%; */
    width: 60px;
    /* display: flex; */
    /* justify-content: start; */
    color: white;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}
.icon-text{
    width: 50%;
}
.accordion-button{
    height: 40px;
    background-color: transparent;
    color: white;
    padding: 0;
    width: 20%;
}
.accordion-body button{
    height: 40px;
    background-color: #212529;
    width: 100%;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 23%;
    justify-content: center;
    align-items: flex-start;
}
.accordion-body button:hover{
    background-color: #174b3f;
}
.accordion-body{
    padding: 0;
}


.accordion-button:focus{
    box-shadow: none;
}
.accordion-flush{
    padding-top: 67px;
    transition: 0.6s ease-in-out;
}
.accordion-button::after,.accordion-button::before{
    content: none !important;
}
.sideBar{
    background-color: #212529;
    height: 100%; 
    min-height: 100vh;
    /* position: fixed; 
    left: 0;  */
    transition: 0.6s ease-in-out;
}
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    position: absolute;
    left: 250px;
    top: -35px; */
}
@media screen and (max-width:1000px) {
    .sideBar{
        display: none;
    }
}
