.accordion-item{
    width: 100%;
    border: none;
    /* height: 50px; */
}
.button_Container{
    background-color: #212529;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50px;
}
.button_Container:hover{
    color: white;
    background-color: #eab308;
}
.button_Container:hover .icons{
    color: #212529;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: transparent;
    box-shadow: none;
}
.icons{
    /* width: 30%; */
    width: 40px;
    /* display: flex; */
    /* justify-content: start; */
    color: #eab308;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.icon-text{
    width: 50%;
}
.accordion-button{
    height: 40px;
    background-color: transparent;
    color: white;
    padding: 0;
    width: 20%;
}
.accordion-body button{
    height: 40px;
    background-color: #212529;
    width: 100%;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 23%;
    justify-content: center;
    align-items: flex-start;
}
.accordion-body button:hover{
    background-color: #cf8f17;
}
.accordion-body{
    padding: 0;
}


.accordion-button:focus{
    box-shadow: none;
}
.accordion-flush{
    margin-top: 68px;
    transition: 0.5s ease-in-out;
}
.accordion-button::after,.accordion-button::before{
    content: none !important;
}
.sideBar{
    background-color: #212529;
    height: 100vh; 
    min-height: 100vh;
    position: fixed; 
    left: 0; 
    transition: 0.5s ease-in-out;
}


