.MainGraphs,.MainTasks{
    width: 50%;
}
th{
    font-weight: 600;
    font-size: 15px;
}
td{
    font-size: 15px;
    padding: 5px 20px ;
    font-weight: 500;
    border-bottom: none !important;
    cursor: pointer;
}
.taskConatiner tr:hover{
    background-color: rgb(250, 237, 173);
}
th:last-child {
    border-radius: 0 7px 7px 0;
}
th:first-child {
    border-radius: 7px 0 0 7px; 
}
/* button{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
@media screen and (max-width: 700px) {
    .taskConatiner {
        flex-wrap: wrap;
    }
    .MainGraphs,.MainTasks{
        width: 100%;
    }
}