th{
    font-weight: 600;
    font-size: 15px;
}
td{
    font-size: 15px;
    padding: 5px 20px ;
    font-weight: 500;
    border-bottom: none !important;
}
/* button{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
} */